#App {
    width: 100%;
    height: 800px;
    background-color: indigo;
}
.line{
    height: 6px;
    background-color: aquamarine;
    width: 70px;
    margin: 8px auto;
}
#game {
    width: 100%;
    height: 800px;
    background-color: indigo;
}
img{
    transition: transfrom.2s;
}
img:hover{
    transform: scale(0.9);
}
#chatbot {
    width: 100%;
    height: 800px;
    background-color: indigo;
}
